body{
    background-image:linear-gradient( rgba(209, 25, 194, 0.822),  rgb(45, 0, 82));
}

a{
   color:white;
   font-family:monospace;
   font-size: 25px;
}


hr{
    
    border-style: none;  
    border-top-style:solid;
    border-color:rgb(0, 174, 255);  
    border-width: 10px;             
    height: 2px;
    width: 100px;
}

h1 {
    color: rgb(45, 0, 82);
    font-family: monospace;
    font-size: 70px ;
}

h2 {
    color: rgb(255, 202, 252);
    font-family: monospace;
    font-size: 35px;
}

h3 {
    color: rgb(255, 255, 255);
}

h4 {
    color: rgb(45, 0, 82);
    font-family: monospace;
    font-size: 35px;
}

h5 {
    color: rgb(0, 174, 255);
    font-family: monospace;
    font-size: 70px !important;
}

.heading{
    font-size: 40px;
}

.links{
    color: rgba(209, 25, 194, 0.822);   
}

.contacts {
    color:rgb(255, 202, 252);
}
/*